body {
    background-color: #85a6d2;
    font-family: Roboto, sans-serif;
}

.tier__img {
    margin: 0 auto;
    width: 80px;
}  

.tiers {
    background-color: #ffffff;
    border-radius: 4px;
    display: flex; 
    flex-direction: column;
    width: 70%;
    padding: 20px;
    margin: 150px auto;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.4);
}

@media screen and (min-width: 700px) {
    .tiers {
        flex-direction: row
    };
}

.tier {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px 20px;
    flex: 1;
    text-align: center;
}

.tier:hover {
    background: #f2f3f5;
}

.tier__name {
    letter-spacing: 4px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #5875CF;
    margin-top: 50px;
}

.tier__description {
    color: #A5A7AC;
    line-height: 1.4;
    margin-bottom: 20px;
    padding: 20px;
}

.tier__price {
    color: #5875CF;
    font-weight: 500;
}

.tier__currency {
    vertical-align: top;
}

.tier__amount {
    font-size: 32px;
}